:root {
    --primary-color: #0ab1f0;
    --secondary-color: #5b93a5;
    --text-color: #222222;
    --background-button: #e8f6fe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

header {
    width: 100%;
    height: auto;
    padding: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
}

.left {
    display: flex;
    align-items: center;
}

.left:hover {
    cursor: pointer;
}

.left img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    margin-right: 12px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
}

.slogan p:first-child {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
}

.slogan p:last-child {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 4px;
}

.right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.home-btn {
    background-color: var(--background-button);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 16px;
    margin: 4px;
    border-radius: 32px;
}

.right ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 16px;
    margin: 4px;
    border-radius: 32px;
}

.right ul li a:hover {
    background-color: var(--background-button);
    color: var(--primary-color);
    transition: ease-in-out 0.2s;
}

.call-btn {
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px;
    margin: 4px;
    border-radius: 32px;
}

.banner img {
    width: 100%;
    object-fit: cover;
}